.breadcrumbs {
  display: flex;
  align-items: center;
}
.bc {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.bc svg {
  margin-right: 5px;
  transition: opacity 0.2s linear;
}

.bc:last-child > svg {
  opacity: 0;
}

.bc span {
  display: flex;
  align-items: center;
}

.ceBreadcrumb {
  color: var(--blackOpacity-40);
  line-height: 1.2rem;
  text-align: justify;
  padding:15px 1rem;
  margin: 0.5rem 0 0;
}
.ceBreadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.ceBreadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .2rem;
  content: "--";
}
.ceBreadcrumbLink{
  color: var(--blackOpacity-40);
  font-weight: 400;
}
.ceBreadcrumbActive {
  font-weight: 500;
  color: var(--blackOpacity-80);
}
@media all and (max-width: 768px) {


  .ceBreadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .ceBreadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .2rem;
    content: "-";
  }
  .ceBreadcrumbLink{
    color: var(--blackOpacity-40);
  }
  
  
  
}