
.container {
  width:100%;
  margin: 1rem auto;
  padding: 1.5rem;
  background: var(--blackOpacity-60);
}
#componentEmergency {
  font-family:'Inter', 'Montserrat', 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color:var(--whiteFone);
  width: 100%;
}
.ceBreadcrumb, .ce-btn {
  color: var(--blackOpacity-40);
  line-height: 1.2rem;
  text-align: justify;
  padding:10px 0.5rem;
}
.ceHr {
  text-align: center;
  width:100%;
  margin: 0px 0 12px;
  padding: 1rem 0 0;
  border:none;
  border-bottom: 1px solid var(--whiteFone);
}
.ceContent {
  display: flex;
  flex-direction: column;
}
.ceTitle {
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.ceTodoItem, .ceForbiddenTodoItem {
  display: grid;
  grid-gap:10px;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  font-size: 0;

}
.ceTodoItem li, .ceForbiddenTodoItem li{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  align-items: center;
}
.ceTodoItem li {
  justify-content: flex-start; 
}

.iconItem {
  width:80px;
  height: 58px;
  background:center no-repeat url('../../image/icon/book.png');
  background-size: auto;
  margin: 0;
  padding: 0;
}
.ceForbiddenTodoItem .iconItem {
  background:center no-repeat url('../../image/icon/notification.png');
}

.textItem {
  width: calc(100% - 80px);
  margin: 0;
  padding: 0 10px 0;

}

.ceBtn {
  margin: 0 3%;
  width: 25%;
}
.ceBtnLink {
  padding: 10px 35px;
  position: relative;
  display: block;
  color: var(--blackOpacity-40);
}
.ceBtnLink::before {
  content: '';
  position: absolute;
  width:25px;
  height: 25px;
  top:50%;
  transform: translateY(-50%);
  left:0;
  background: no-repeat url('../../image/icon/notification.png');
}

.ceBreadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.ceBreadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .2rem;
  content: "-";
}
.ceBreadcrumbLink{
  color: var(--blackOpacity-40);
}

@media all and (max-width: 768px) {
  #componentEmergency {
    margin:0 0 0 10%;
    font-size: 1.25rem;
    width: 80%;
  }
  .ceTodoItem, .ceForbiddenTodoItem {
    grid-template-columns: 1fr;
  }
  .textItem {
    width: calc(100% - 80px);
    margin: 0 ;
    padding: 0 10px 0;
  
  }
  .ceForbiddenTodoItem .textItem {
    width: calc(100% - 40px);
  
  }
  .ceForbiddenTodoItem .iconItem {
    background:left no-repeat url('../../image/icon/notification.png');
    width:40px;
  }
  .ceBtn {
    width: 50%;
    margin: 0
  }
  .ceTitle {
    font-size: 1.5rem;
  }
  .ceTodoItem li, .ceForbiddenTodoItem li{
    font-size: 1.25rem;
  }
}