
.container {
  width:100%;
  margin: 0 auto;
  padding: 1.5rem;
  background: var(--whiteColor);
}
#componentEmergency {
  font-family:'Inter', 'Montserrat', 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var( --blackFont);
  width: 100%;
}
.ceBreadcrumb {
  display: none;
}
.ceHr {
  display: none;
}
.ceContent {
  display: grid;
  grid-gap:30px;
  grid-template-columns: 2fr 1fr;
}
.sectionDesktopStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sectionDesktopStyleShadow{
  border-radius: 8px;
  box-shadow: 0px 4px 4px var(--blackOpacity-40);
}
.sectionDesktopStyleShadowForbidden {
  border-radius: 8px;
  box-shadow: 0px 4px 4px var(--sectionShadowColor);
}
.ceTitle {
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: var(--blackFont);
  text-align: center;
}
.ceTitleH1 {
  font-size: 1.5rem;
  text-align: center;
}
.ceTodoItem, .ceForbiddenTodoItem {
  display: flex;
  flex-direction: column;
  border-top:1px solid var(--colorHr);
  width:100%;
  padding: 40px 0;
}
.ceTodoItem li, .ceForbiddenTodoItem li{
  display: flex;
  flex-direction: row;
  justify-content:space-bettwen;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 1.25rem;
  
}
.iconItem {
  width:10rem;
  min-height: 5rem;
  background:transparent;
  margin: 0 1rem;
  padding: 0;
}
.ceForbiddenTodoItem .iconItem {
  width:2rem;
  min-height: 2rem;
  margin: 0 0 0 2rem;
  background: center  no-repeat url('../../image/icon/notification2.png');
}
.textItem {
  width: calc(100% - 80px);
  margin: 0 ;
  padding: 0 10px 0;
  font-weight: 600;
  scrollbar-width: 6px;
  line-height: 1.25;
}
.ceForbiddenTodoItem .textItem {
  width: calc(100% - 5rem);
}
.forbiddenTodoTitle {
  color: var(--ceForbiddenTodoTitleColorDesktop);
}

.textItemReadMore {
  width: 100%;
  margin-top: 1rem;
  line-height: 1.25;
  border-top:1px solid var(--colorHr);
  border-bottom:1px solid var(--colorHr);
  width:100%;
  height: 90%;
  padding: 40px 10px;

}
.fontColorBlack, .activeH1 {
  color:var(--blackFont);
  font-weight: 700;
}
/* button */
.ceBtn {
  line-height: 1.2rem;
  text-align: justify;
  padding:10px 0.5rem;
  margin: 0.5rem 0 0;
  display: flex;
  justify-content: flex-end;
}
.visibleLg{
  display: block;
}
.hiddenLg{
  display: none;
}
.ceBtnLink {
  padding: 10px 35px;
  position: relative;
  display: block;
  text-align: right;
}
.ceBtnLink::before {
  content: '';
  position: absolute;
  width:25px;
  height: 25px;
  top:50%;
  transform: translateY(-50%);
  right:0;
  background: center no-repeat url('../../image/icon/Vector.png');
}


.notActiveDesktop {
  color:var(--btnDesktop);
  font-size: 1.125rem;
  font-weight: 600;
}

@media all and (max-width: 768px) {
  /* component ms-divice */

.container {
  width:100%;
  margin: 1rem auto;
  padding: 1.5rem;
  background: var(--backgroundBlack);
}
#componentEmergency {
  font-family:'Inter', 'Montserrat', 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--whiteColor);
  width: 80%;
  margin:0 0 0 10%;
}
.ceBreadcrumb{
  display: block;
}
.ceBreadcrumb, .ce-btn {
  color: var(--blackOpacity-40);
  line-height: 1.2rem;
  text-align: justify;
  padding:10px 0.5rem;
  margin: 0.5rem 0 0;
}
.ceHr {
  display: block;
  text-align: center;
  width:100%;
  margin: 0;
  padding: 0;
  border:none;
  border-bottom: 1px solid var(--whiteColor);
}

.ceContent {
  display: flex;
  flex-direction: column;
  grid-gap:0;
}
.sectionDesktopStyleShadow, .sectionDesktopStyleShadowForbidden {
  border-radius: none;
  box-shadow: none;
}
.ceTitle {
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.35rem;
  margin: 0.5rem 0;
  color: var(--whiteColor);
  text-align: left;
}
.activeH1 {
  color: var(--whiteColor);
}
.margin1Rem {
  margin: 1rem 0;
}
.ceTodoItem, .ceForbiddenTodoItem {
  display: grid;
  grid-gap:10px;
  grid-template-columns: 1fr;
  border:none;
  height: 100%;
  margin: 0;
  padding: 0;

}
.ceTodoItem li, .ceForbiddenTodoItem li{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  align-items: center;

}
.ce-todo-item li {
  margin: 0;
  justify-content: flex-start;

}

.iconItem {
  width:80px;
  height: 58px;
  background:center no-repeat url('../../image/icon/book.png');
  background-size: auto;
  margin: 0;
  padding: 0;
}

.ceForbiddenTodoItem .iconItem {
  background:left no-repeat url('../../image/icon/notification.png');
  width:40px;
  margin: 0;
}

.textItem {
  scrollbar-width: 6px;
  line-height: 1;
  font-weight: 400;

}
.textItem, .textItemReadMore {
  width: calc(100% - 80px);
  margin: 0 ;
  padding: 0 10px 0;

}
.textItemReadMore {
  width: 100%;
  margin-top: 1rem;
  line-height: 1;
  border:none;
}
.visibleLg{
  display: none;
}
.hiddenLg{
  display: block;
}
.ceBtn {
  margin: 0;
  width: 50%;
  justify-content: flex-start;
}
.ceBtnLink {
  padding: 0;
  position: relative;
  display: block;
  text-align: left;
}
.ceBtnLink::before {
  display: none;
}

.ceBreadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.ceBreadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .2rem;
  content: "-";
}
.ceBreadcrumbLink{
  color: var(--blackOpacity-40);
}

.active {
  color: var(--whiteColor);
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.notActive, .fontColorBlack{
  color:var(--blackOpacity-40);
  font-size: 1.125rem;
  font-weight: 600;
} 
.ceForbiddenTodoItem .textItem {
  width: calc(100% - 40px);

}
.ceTodoItem li, .ceForbiddenTodoItem li{
    font-size: 1.25rem;
  }
.ceTitleH1 {
    text-align: center;
  }

}