.alarming{
  margin: 0 0px ;
  display: flex;
}
.alarmingPage{
  /* width: 100vw; */
  /* width: 70%; */
  /* width: 100vh; */
  /* width: 100vmin; */
  /* width: 100vmax; */

}
.visibleLg {
  display: block;
}
.hiddenLg {
  display: none;
}
@media all and (max-width:768px) {
  
  .visibleLg {
    display: none;
  }
  .hiddenLg {
    display: block;
  }
}
