
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat&family=Roboto&display=swap');
/*font-family: 'Inter', sans-serif;
 font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --backgroundBlack: #111827;
  --whiteColor: #FFFFFF;
  --blackOpacity-40: rgb(163, 163, 163);
  --blackFont: #000000;
  --btnDesktop:#5048E5;
  --ceForbiddenTodoTitleColorDesktop: #FF2800;
  --sectionShadowColor: rgba(255, 40, 0, 0.25);
  --colorHr: #E6E8F0;
  --subject: #111827;
  --subjectActive: rgba(17, 17, 136, 0.8);
}

html {
  box-sizing: border-box;
  transition: .5s ease-in-out;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}
#root, * {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
/*img {*/
/*  display: block;*/
/*  width: 100%;*/
/*}*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: 1px;
}
body {
  margin: 0;
  font-family: 'Inter';
  font-weight: 700;
  scrollbar-color: #264061 #f0f1f3;
  scrollbar-width: 6px;
  line-height: 1;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #f0f1f3;
}

::-webkit-scrollbar-thumb {
  background-color: #264061;
}
::-webkit-scrollbar-thumb:vertical {
  height: 40px;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.react-datepicker-wrapper {
  position: relative;
}
.react-datepicker-wrapper::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 20px;
  top: 0;
  right: -17px;
  /* background-image: url('./assets/images/calendar.png'); */
  background-repeat: no-repeat;
  background-size: contain;
}

/* -- */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 87px;
    margin: 0 auto;
  }
  .react-datepicker-wrapper::after {
    top: 12px;
    right: -36px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px;
    margin: 0;
  }
}
/* Стили для body */

.stopScroll {
  overflow-y: hidden;
}

button {
  cursor: pointer;
  outline: none;
}