
.pageMain {
  margin: 0 auto;
  width:100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;

}

@media all and (max-width: 768px) {
  .pageMain {
    background: var(--body-bg);
    width:100%;

  }
  .visibleLg {
    display: none;    
  }
  
}

