:root {
	--body-bg: rgba(17, 24, 39, 1);
	--body-color: rgba(17, 24, 39, 1);
	--collapse-bg: rgba(255, 255, 255, 0.1);
	--collapse-color: #1a1a1a;
	--collapse-line-color: #acacde;
	--collapse-icon-color: #b8336a;
	--collapse-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.styleList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    color: #9e9fa1;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1.125em;
  
  }

.aligment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.styleList {
  padding: 0.5rem 0 0.5rem 5px;
} 
.information {
	padding: 0.5rem 0;
}

.information {
  margin: 0.5rem 0.3rem 0.5rem 0.5rem;
  padding: 0 5px;
  background-color: #282f3c;
  border-radius: 8px;
}
.informationBlock {
  background-color: #384153;
  border-radius: 8px;
}
.styleList .icon{
	display: inline-block;
	width: 24px;
	height: 24px;
	transition: transform 0.26s;
	color: var(--collapse-icon-color);
	box-sizing: border-box;
}
.iconItem1 {
  background:no-repeat center center url('../../image/icon/bookbook.png');
}
.iconItem2 {
  background:no-repeat center center url('../../image/icon/book2.png');
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 383px;
	padding: 20px;
	box-sizing: border-box;
	}


.iconItem {
  display: block;
	width: 40px;
	height: 40px;
	background-size: auto;
	margin: 0;
	padding: 0;

}

.fontColor {
  color: #9e9fa1;
  display: block;
  width: 100%;
  }

/* .borderBottom {
  padding-bottom:5px;
  border-bottom:1px solid rgba(188, 191, 194, 0.2);
} */


.itemStyle {
  display: block;
  padding: 0 10px;
  border-bottom:1px solid rgba(188, 191, 194, 0.2);
  width: 100%;
  color: #9e9fa1;
}
.fontColorActive{
  color: azure;
   
}
.width100 {
  width:100%;
  padding: 0 10px;

}
.displayBlock {
  display: block;
}
.displayNone {
  display:none;
}
.border {
  border-top: 1px solid #bcc1cd;;
}

