.notFound {
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notFoundStyle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width:30%;
  height: auto;
  /* border: 3px solid #D8D8D8; */
  border-radius: 3px;
  color:#70747d;
  font-size: 2rem;
  background: no-repeat center url('../../image/1503162.svg');
  background-size: contain;
}
.notFoundP {

  font-size:1.25rem;
  margin: 2rem;
}